<div class="delivery-info-wrap">
    
        <h3 class="delivery-info-heading delivery-info-heading">Delivery</h3>
        <a href="{{ customer.addresses }}" class="change-delivery">Change</a>
        <div class="delivery-info-item delivery-address">
            <!-- <div class="delivery-info-item-icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 12C10.9 12 10 11.1 10 10C10 8.9 10.9 8 12 8C13.1 8 14 8.9 14 10C14 11.1 13.1 12 12 12ZM18 10.2C18 6.57 15.35 4 12 4C8.65 4 6 6.57 6 10.2C6 12.54 7.95 15.64 12 19.34C16.05 15.64 18 12.54 18 10.2ZM12 2C16.2 2 20 5.22 20 10.2C20 13.52 17.33 17.45 12 22C6.67 17.45 4 13.52 4 10.2C4 5.22 7.8 2 12 2Z" fill="#666666"/>
                </svg>            
            </div> -->
            <div class="delivery-info-item-text">
                {% if customer %}
                 <h4>{{ customer.default_address.address1 }}, {{ customer.default_address.city }}, {{ customer.default_address.province_code }}, {{ customer.default_address.zip }}</h4>
                {% else %}
                <!-- <h4>Login to see address</h4> -->
                {% endif %}
            </div>
        </div>
    
    <div class="delivery-info-item standard-delivery">
        {%- liquid
            assign range = 1 | times: 24 | times: 60 | times: 60
assign deliver_in = 4 | times: 24 | times: 60 | times: 60
assign now = 'now' | date: "%s
assign date_format = block.settings.date_format | default: "%b %d
assign from = now | plus: deliver_in | minus: range | date: date_format %
assign to = now | plus: deliver_in | plus: range | date: date_format %

        -%}
        
        <div class="delivery-info-item-icon">
            <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 0H2C0.89 0 0.00999999 0.89 0.00999999 2L0 14C0 15.11 0.89 16 2 16H18C19.11 16 20 15.11 20 14V2C20 0.89 19.11 0 18 0ZM18 14H2V8H18V14ZM18 4H2V2H18V4Z" fill="#666666"/>
            </svg>                       
        </div>
        <div class="delivery-info-item-text">
            <h4>Standard Delivery
                <span class="standard-arrow">
                    <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L7 7L13 1" stroke="#666666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </span>
            </h4>
            <p>3-5 business day(s)
                <svg width="4" height="5" viewBox="0 0 4 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="2" cy="2.5" r="2" fill="#666666"/>
                </svg>
             By {{ to }}</p>
             <span class="standard-price">$0.00</span>
        </div>
    </div>
    <!-- <div class="delivery-info-item payon-delivery">
        <div class="delivery-info-item-icon">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.5 7.28V5C20.5 3.9 19.6 3 18.5 3H4.5C3.39 3 2.5 3.9 2.5 5V19C2.5 20.1 3.39 21 4.5 21H18.5C19.6 21 20.5 20.1 20.5 19V16.72C21.09 16.37 21.5 15.74 21.5 15V9C21.5 8.26 21.09 7.63 20.5 7.28ZM19.5 9V15H12.5V9H19.5ZM4.5 19V5H18.5V7H12.5C11.4 7 10.5 7.9 10.5 9V15C10.5 16.1 11.4 17 12.5 17H18.5V19H4.5Z" fill="#666666"/>
            <path d="M15.5 13.5C16.3284 13.5 17 12.8284 17 12C17 11.1716 16.3284 10.5 15.5 10.5C14.6716 10.5 14 11.1716 14 12C14 12.8284 14.6716 13.5 15.5 13.5Z" fill="#666666"/>
            </svg>
        </div>
        <div class="delivery-info-item-text">
            <h4>Pay on delivery available</h4>
        </div>
    </div> -->
    <div class="service-info">
        <h3 class="service-info-heading delivery-info-heading">Service</h3>
        <div class="service-item">
            <div class="service-item-icon">
                <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 4L14 8H17C17 11.31 14.31 14 11 14C9.99 14 9.03 13.75 8.2 13.3L6.74 14.76C7.97 15.54 9.43 16 11 16C15.42 16 19 12.42 19 8H22L18 4ZM5 8C5 4.69 7.69 2 11 2C12.01 2 12.97 2.25 13.8 2.7L15.26 1.24C14.03 0.46 12.57 0 11 0C6.58 0 3 3.58 3 8H0L4 12L8 8H5Z" fill="#666666"/>
                </svg>
            </div>
            <div class="service-item-text">
                <h4>30 days returns</h4>
            </div>
        </div>
    </div>
</div>

<section id="laber_{{sid}}" class="product-sidebar" style="display: none;">     
{%- if blocks.size > 0 -%}
  {%- for block in blocks -%}
  {%- case block.type -%}
  {% when 'shipping_sidebar' %}
    <div class="product-iteam box-prod sidebar-content-box">
      {% if block.settings.customer_delivery_address %}
        {% if customer %}
        <div id="customerAddress">
          <div class="customer-delivery-title">
            <p class="delivery">Delivery</p>
            <a href="{{ customer.addresses }}" class="action">Change</a>
          </div>
          <div id="customerAddress">
            <p><span class="icon icon-map-pin"></span> <span class="address">{{ customer.default_address.address1 }}, {{ customer.default_address.city }}, {{ customer.default_address.province_code }}, {{ customer.default_address.zip }}</span></p>
          </div>
        </div>
        {% endif %}
        
      {% endif %}
      {% if block.settings.show_delivery_times %}
          <div class="prod_delivery-times sidebar-content-box">
            {% assign range =  2 | times: 24 | times: 60 | times: 60 %}
            {% assign deliver_in =  block.settings.deliver_days | times: 24 | times: 60 | times: 60 %}
            {% assign now = 'now' | date: "%s" %}
            {% assign date_format = block.settings.date_format | default: "%b %d" %}
            
            {% assign from = now | plus: deliver_in | minus: range | date: date_format %}
            {% assign to = now | plus: deliver_in | plus: range | date: date_format %}
            
            <div class="content">
              <div class="content-head">
                <label><span class="icon icon-calendar"></span> {{ block.settings.deliver_text | strip_html }}</label>
              </div>
              <div class="content">
                <p><span>{{ from }} - {{ to }}</span></p>
              </div>
            </div>
            
          </div>
        {% endif %}

        {% if block.settings.pay_on_delivery %}
            <div class="cash-on-delivery sidebar-content-box">
              <span class="icon icon-truck"></span>
              <strong>{{ block.settings.pay_on_del_text }}</strong>
            </div>
            {% endif %}
        {% if block.settings.show_shipping_text and block.settings.shipping_text != blank %}
          <div class="prod_shipping-text">
            <div class="content-head">              
              <span class="block__icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.1328 5.1416C15.7995 6.29993 16.9495 8.1416 17.1828 10.2666" stroke="#515D66" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M2.91016 10.3081C3.12682 8.19144 4.26016 6.34977 5.91016 5.18311" stroke="#515D66" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6.82422 17.4502C7.79089 17.9419 8.89089 18.2169 10.0492 18.2169C11.1659 18.2169 12.2159 17.9669 13.1576 17.5085" stroke="#515D66" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.051 6.41654C11.3305 6.41654 12.3677 5.37933 12.3677 4.09987C12.3677 2.82041 11.3305 1.7832 10.051 1.7832C8.77158 1.7832 7.73438 2.82041 7.73438 4.09987C7.73438 5.37933 8.77158 6.41654 10.051 6.41654Z" stroke="#515D66" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M4.0237 16.6001C5.30316 16.6001 6.34036 15.5629 6.34036 14.2835C6.34036 13.004 5.30316 11.9668 4.0237 11.9668C2.74424 11.9668 1.70703 13.004 1.70703 14.2835C1.70703 15.5629 2.74424 16.6001 4.0237 16.6001Z" stroke="#515D66" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M15.9768 16.6001C17.2563 16.6001 18.2935 15.5629 18.2935 14.2835C18.2935 13.004 17.2563 11.9668 15.9768 11.9668C14.6974 11.9668 13.6602 13.004 13.6602 14.2835C13.6602 15.5629 14.6974 16.6001 15.9768 16.6001Z" stroke="#515D66" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
            </div>
            <div class="block-content">
              {{ block.settings.shipping_text }}
            </div>
          </div>
      {% endif %}     
  </div>
  {% when 'service' %}
    <div class="services">
      <div class="service-main-content">
        <div class="service-content">
          <span class="icon {{ block.settings.service_icon }}"></span>
          <div class="content">
            {{ block.settings.service_text }}
            {% if block.settings.service_subtext != blank %}
            <br>
            <span class="subtext">{{ block.settings.service_subtext }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {%- when 'benefit' -%}
    <div class="laber_benefit">
      {% if block.settings.show_benefit_1 %}
      <div class="item-benefit">
        {%- if block.settings.source == '1' -%}
          <div class="icon">
            <i class="{{block.settings.icon}}"></i>
          </div>
        {%- elsif block.settings.source == '2' -%}
        <div class=" icon img">
          {% assign image = block.settings.icon_img %}
          {% if image != blank %} 
              {% render 'responsive-image', image: image, image_class: 'w-full h-full' %}
            {% else %}
                  {% capture current %}{% cycle 1, 2, 3, 4, 5 %}{% endcapture %}
                  {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg w-full h-full' }}
            {% endif %}
        </div>
        {%- else -%}
        <div class="icon">
          {{block.settings.text_svg}}
        </div>
        {%- endif -%}
        <div class="content">
          <p class="title">{{block.settings.title}}</p>
        </div>
      </div>
      {% endif %}
      
      
      {% if block.settings.show_benefit_2 %}
      <div class="item-benefit">
        {%- if block.settings.source == '1' -%}
        <div class="icon">
          <i class="{{block.settings.icon2}}"></i>
        </div>
        {%- elsif block.settings.source == '2' -%}
        <div class=" icon img">
         {% assign image = block.settings.icon_img2 %}
          {% if image != blank %} 
              {% render 'responsive-image', image: image, image_class: 'w-full h-full' %}
            {% else %}
                  {% capture current %}{% cycle 1, 2, 3, 4, 5 %}{% endcapture %}
                  {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg w-full h-full' }}
            {% endif %}
        </div>
        {%- else -%}
        <div class="icon">
          {{block.settings.text_svg2}}
        </div>
        {%- endif -%}
        <div class="content">
          <p class="title">{{block.settings.title2}}</p>
        </div>
      </div>
      {%endif%}
      
      
      {% if block.settings.show_benefit_3 %}
      <div class="item-benefit">
        {%- if block.settings.source == '1' -%}
        <div class="icon">
          <i class="{{block.settings.icon3}}"></i>
        </div>
        {%- elsif block.settings.source == '2' -%}
        <div class=" icon img">
          {% assign image = block.settings.icon_img3 %}
          {% if image != blank %} 
              {% render 'responsive-image', image: image, image_class: 'w-full h-full' %}
            {% else %}
                  {% capture current %}{% cycle 1, 2, 3, 4, 5 %}{% endcapture %}
                  {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg w-full h-full' }}
            {% endif %}
        </div>
        {%- else -%}
        <div class="icon">
          {{block.settings.text_svg3}}
        </div>
        {%- endif -%}
        <div class="content">
          <p class="title">{{block.settings.title3}}</p>
        </div>
      </div>
      {%endif%}
    </div>
    {%- when 'promobox' -%}
    
    <div class="laber_promobox">
      <div class="promobox">
        {% assign no-img = "https://placehold.jp/30/222/fff/270x460.png?text=270x460" %}	
        {% assign image = block.settings.image_promobox %}
        {% assign url = block.settings.url %}
        {%- assign ratio = image.aspect_ratio -%}
        {% if image.id%}
        {%if url %}<a href="{{url}}" title="{{title}}">{%endif%}
        <div data-image-effect class="pr_lazy_img  lazyload laber_bg_lz " data-id="{{image.id}}" data-bgset="{{ image | img_url: '1x1' }}" data-parent-fit="width" data-wiis data-ratio="{{ratio}}" data-sizes="auto" style="padding-top:{{ 1 | divided_by: ratio | times: 100}}%;"></div>

        {%if url %}</a>{%endif%}
        {%else%}
        	<div data-image-effect class="pr_lazy_img  lazyload laber_bg_lz "  data-bgset="{{ no-img }}" data-parent-fit="width" data-wiis data-ratio="1" data-sizes="auto" style="padding-top: 170.37%;"></div>	
        {%endif%}
        {% if block.settings.title != blank %}
        <div class="promobox-content">
          <div class="title">{{block.settings.title}}</div>
          <div class="h3 sub_title">{{block.settings.sub_title}}</div>
          <div class="content">{{block.settings.content}}</div>
        </div>
        {%endif%}
      </div>
    </div>
  	
        {%- when 'products' -%}
			<div id="bl_{{block.id}}" class="laber-product">
              {%if block.settings.title != blank%}	
              	<h3>{{block.settings.title}}</h3>
              {%endif%}
              {% assign settings = block.settings %}
              {%- assign dots = block.settings.dots -%}
              {%- assign arrows = block.settings.arrows -%}
              {%- assign sett_equal = block.settings.use_eq_height -%}
              {%- assign image_ratio = block.settings.image_ratio -%}
            {%- assign products = collections[block.settings.collection].products -%}
            {%- assign limit = block.settings.max_count -%}
            {%- if limit == 0 -%}
            {%- assign limit = products.size -%}
            {%- endif -%}
            {%- if products.size > 0 -%}
              {% include 'grid-slider', settings:settings %} 
                <div class="collection-sidebar-offers">
                  <div class="grid-slider collection-slider laber-slick-carousel {%if sett_equal%}{{image_ratio}} {%endif%}" {{gridSlider}} data-append-Arrows=".arrows_{{sid}}" data-append-Dots=".dots_{{sid}}" >
                    {%- for product in products limit: limit -%}                
                       {% include 'product-column' %}  
                    {%- endfor -%}
                  </div>
                  {%if dots %}
                  <div class="laber_append_dots dots_{{sid}}"></div>
                  {%endif%}
                  {%if arrows%}	
                  <div class="laber_append_arrows arrows_{{sid}}"></div>	
                  {% endif %}
                </div>
            {%- endif -%}
  			</div>
  			{%style%}
  				
                  #bl_{{block.id}}{
                      {%if block.settings.pd != blank%}padding:{{block.settings.pd}};{%endif%}
  				      {%if block.settings.cl_bg != blank%}background-color: {{block.settings.cl_bg}};{%endif%}
                  }
  				
  			{%endstyle%}
  
  {%- endcase -%}
  {%- endfor -%}
{%- endif -%} 
</section>
{%- render 'section_style' -%}