{% assign show_secondary_image = true %}
<div class="product-card">
  <div class="product-collection" data-js-product>
    <script class="data-json-product" type="application/json">
      {% render 'product-get-attributes', product:product, build_variant: 'json' %}
    </script>
    {% form 'product', product, id: null, class: 'frm_product_collection', data-js-product-form: '' %}
      {%- liquid
        assign ratio = 1
        if product.featured_media and media_aspect_ratio == 'portrait'
          assign ratio = 0.8
        elsif product.featured_media and media_aspect_ratio == 'adapt'
          assign ratio = product.featured_media.aspect_ratio
        endif
        if ratio == 0 or ratio == null
          assign ratio = 1
        endif
      -%}
      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" data-js-product-variant-input>
      <div
        class="product-collection__image product-image js-product-images-navigation alo-border-radius"
        style="--alo-border-radius:5px;"
      >
        <div class="card__media">
          <div class="media {% if show_secondary_image %} secondary_image_hover{% endif %}">
            <a
              href="{{ product.url | within: collection }}"
              class="d-block image_product cursor-default {% if product.featured_media %} ratio{% endif %}"
              style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
              data-js-product-image
            >
              {% render 'product-image' with card_product: product show_secondary_image: show_secondary_image %}
            </a>
          </div>
        </div>
          <div class="button-cart-bottom">
            {% if product.variants.size == 1 %}
              <div class="flex alo-gap" style="--alo-gap:5px;">
                {% if product.available %}
                  <button
                    type="submit"
                    class="add-to-cart js_add_to_cart_button {%if settings.disable_ajax_cart %}page_{{settings.custom_page_cart}}{%endif%} alo-border-radius"
                    style="--alo-border-radius:5px;"
                    data-pid="{{ product.variants.first.id }}"
                    data-js-product-button-add-to-cart
                  >
                    <div class="laber-loading">
                      <div class="circle-loadding"><span></span></div>
                    </div>
                    <span class="text">{{ 'products.product.add_to_cart' | t }}</span>
                  </button>
                {% else %}
                  <a class="add-to-cart js-btn-sold-out alo-border-radius" href="{{ product.url | within: collection }}" style="--alo-border-radius:5px;">
                    <span class="text">{{ 'products.product.sold_out' | t }}</span></a
                  >
                {% endif %}
              </div>
            {% else %}
              <a
                href="{{ url }}"
                data-pid="{{ current_variant_id }}"
                class="js_select_options select_options alo-border-radius"
                style="--alo-border-radius:5px;"
              >
                <div class="laber-loading">
                  <div class="circle-loadding"><span></span></div>
                </div>
                <span class="text">{{ 'products.grid_items.select_options' | t }}</span>
              </a>
            {% endif %}
          </div>
      </div>
      <div class="product-collection__content style_{{settings.content_style_product}}">
        <div class="product-collection__title">
          <h2>
            <a href="{{ url }}">{{ title }}</a>
          </h2>
        </div>
        {%- if settings.product_collection_show_reviews -%}
          {% include 'reviews-count' %}
          <div class="product-collection__reviews">
            {% render 'product-get-review' with id: product.id hide_counter: hide_reviews_counter %}
          </div>
        {%- endif -%}
        <div class="frm-price-color">
          {%- if settings.product_collection_show_price -%}
            <div class="product-collection__price ">
              {%- if product.price_varies -%}
                <span class="price"
                  ><span>{{ product.price_min | money }} – {{ product.price_max | money }}</span></span
                >
              {%- else -%}
                {% render 'product-get-price' with price: price compare_at_price: product.compare_at_price %}
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    {% endform %}
  </div>
</div>