<section id="laber_{{section.id}}">
  <div class="laber_product_section_{{section.id}}">
    <div class="section-title alo-text-transform">
      {{section.settings.title}}
      <a href="{{ collection.url }}" class="title-link">See all {% render 'icons', icon: 'chevron-right', size: '12' %}</a>
    </div>  
    {% if section.settings.content!= blank %}
      <div class="content">{{section.settings.content}}</div>
    {% endif %}
  </div>
</section>

{% schema %}
  {
    "name": "Category list",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Shop by categories"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Description"
      },
      {
        "type": "checkbox",
        "id": "enable_see_all",
        "label": "Enable see all link",
        "default": true
      },
      {
        "type": "text",
        "id": "see_all_text",
        "label": "Customize text"
      },
      {
        "type": "url",
        "id": "see_all_url",
        "label": "Select link"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Add collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Select collection"
          },
          {
            "type": "text",
            "id": "collection_title",
            "label": "Customize title",
            "info": "This will override the collection title"
          },
          {
            "type": "image_picker",
            "id": "collection_img",
            "label": "Collection image"
          }
        ]
      }
    ]
  }
{% endschema %}