{% style %}
#laber_{{section.id}}{
  padding-top: {{ section.settings.padding-top}}px;
  padding-bottom: {{ section.settings.padding-bottom}}px;
}
{% endstyle %}
<section id="laber_{{section.id}}">
  <div class="laber_product_section_{{section.id}}">
    <div class="container">
      <div class="wrap_title medium">
        <div class="section-title alo-text-transform">
          {{section.settings.title}}
          {% if section.settings.enable_see_all %}
          <a href="{{ section.settings.see_all_url }}" class="title-link">{{ section.settings.see_all_text | default: 'See all' }} {% render 'icons', icon: 'chevron-right', size: '12' %}</a>
          {% endif %}
        </div> 
      </div>
      {% if section.settings.content!= blank %}
        <div class="content">{{section.settings.content}}</div>
      {% endif %}
      <div class="products-arrivals ">
        <div class="section-content">
          <div class="content_section">
            <div class="row category-slider">
              {% for block in section.blocks %}
              <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
                <div class="category-content" style="background-color: {{ block.settings.category_clr }}">
                  <a href="{{ block.settings.category_url | default: '#' }}">
                    <div class="category-inner">
                      {% if block.settings.category_img != blank %}
                        {{ block.settings.category_img | image_url: width: 80 | image_tag }}
                      {% else %}
                        {{ 'collection-1' | placeholder_svg_tag }}
                      {% endif %}
                      <div class="category-title center">
                        {% if block.settings.category_title != blank %}
                          <p>{{ block.settings.category_title }}</p>
                        {% else %}
                        <p>{{ 'Category-' | append: forloop.index }}</p>
                        {% endif %}
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Category list",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Shop by categories"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Description"
      },
      {
        "type": "checkbox",
        "id": "enable_see_all",
        "label": "Enable see all link",
        "default": true
      },
      {
        "type": "text",
        "id": "see_all_text",
        "label": "Customize text"
      },
      {
        "type": "url",
        "id": "see_all_url",
        "label": "Select link"
      },
      {
        "type": "header",
        "content": "Section style"
      },
      {
        "type": "range",
        "id": "padding-top",
        "label": "Padding top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 50
      },
      {
        "type": "range",
        "id": "padding-bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 50
      }
    ],
    "blocks": [
      {
        "type": "category",
        "name": "Add Category",
        "settings": [
          {
            "type": "text",
            "id": "category_title",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "category_url",
            "label": "Category url"
          },          
          {
            "type": "image_picker",
            "id": "category_img",
            "label": "image"
          },
          {
            "type": "color",
            "id": "category_clr",
            "label": "Background color",
            "default": "#CCCCCC"
          }
        ]
      }
    ],
    "presets":[
      {
        "name": "Category list",
        "category": "Collections",
        "blocks": [
          {
            "type": "category"
          },
          {
            "type": "category"
          },
          {
            "type": "category"
          },
          {
            "type": "category"
          },
          {
            "type": "category"
          }
        ]
      }
    ]
  }
{% endschema %}