{% style %}
#image-text--{{ section.id }}{
  padding-top: {{ section.settings.padding-top }}px;
  padding-bottom: {{ section.settings.padding-bottom }}px;
}
{% endstyle %}
<section id="image-text--{{ section.id }}">
  <div class="images-with-text-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="images-area">
            {% if section.settings.first_image != blank %}
            <div class="first-image">
              {{ section.settings.first_image | image_url: width: 400 | image_tag }}
            </div>
            {% else %}
              <div class="first-image">
              {{ 'product-apparel-1' | placeholder_svg_tag }}
              </div>
            {% endif %}
            {% if section.settings.second_image != blank %}
            <div class="second-image">
              {{ section.settings.second_image | image_url: width: 400 | image_tag }}
            </div>
            {% else %}
            <div class="second-image">
              {{ 'product-apparel-2' | placeholder_svg_tag }}
            </div>
            {% endif %}
          </div>          
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="content-container">
            {% assign iconIndex = 0 %}
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'title' %}
                  <h1 class="section-title h1">{{ block.settings.title }}</h1>
                {% when 'subtext' %}
                  <p class="subtext">{{ block.settings.subtext }}</p>
                {% when 'description' %}
                  <div class="rte">{{ block.settings.description }}</div>
                {% when 'icon-text' %}                
                {% if iconIndex == 0 %}
                  <div class="row content-text-area">
                {% endif %}
                <div class="content col-lg-6 col-md-6 col-sm-12">
                  <div class="main-icon-area flex">
                    <div class="icon">
                      <i class="icon-{{ block.settings.icon }}"></i>
                    </div>
                    <div class="rte">
                      <p class="title">{{ block.settings.title }}</p>
                      <div class="description">{{ block.settings.description }}</div>
                    </div>
                  </div>
                </div>
                {% if iconIndex == forloop.last %}
                  </div>
                {% endif %}
                {% assign iconIndex = forloop.index | plus: 1 %}
              {% endcase %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Images with text",
    "settings": [
      {
        "type": "image_picker",
        "id": "first_image",
        "label": "First image"
      },
      {
        "type": "image_picker",
        "id": "second_image",
        "label": "Second image"
      },
      {
        "type": "range",
        "id": "padding-top",
        "label": "Padding top",
        "min": 20,
        "max": 200,
        "step": 5,
        "unit": "px",
        "default": 30
      },
      {
        "type": "range",
        "id": "padding-bottom",
        "label": "Padding Bottom",
        "min": 20,
        "max": 200,
        "step": 5,
        "unit": "px",
        "default": 30
      }
    ],
    "blocks":[
      {
        "type": "title",
        "name": "Title",
        "settings":[
          {
            "type":"html",
            "id": "title",
            "label": "Heading",
            "default": "Feel the best experience with <span class='text-highlight_1'>HitchExpo.com</span>"
          }
        ]
      },
      {
        "type":"subtext",
        "name": "Subtext",
        "settings":[
          {
            "type":"text",
            "id": "subtext",
            "label": "Subtext",
            "default": "Explore our first class services"
          },
          {
            "type":"color",
            "id": "Sub_clr",
            "label": "Color",
            "default": "#4269F2"
          }
        ]
      },
      {
        "type": "description",
        "name": "Description",
        "settings":[
          {
            "type":"richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>Lorem ipsum dolor sit amet consectetur. Duis in mauris dui ut. Nulla ullamcorper tempus volutpat viverra viverra aenean amet egestas neque.</p>"
          }
        ]
      },
      {
        "type": "icon-text",
        "name": "Icon with text",
        "settings": [
          {
            "type": "select",
            "id": "icon",
            "label": "Select icon",
            "options":[
              {
                "label": "Shield",
                "value": "shield"
              },
              {
                "label": "Lock",
                "value": "lock"
              },
              {
                "label": "Star",
                "value": "star"
              },
              {
                "label": "Headphones",
                "value": "headphones"
              },
              {
                "label": "Handshake",
                "value": "fa fa-handshake"
              }
  
            ],
            "default": "shield"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Variety of Brands"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>Lorem ipsum dolor sit amet consectetur. Eget duis ac commodo viverra risus congue morbi dolor eu.</p>"
          }
        ]
      }
    ],
    "presets":[
      {
        "name": "Images with text section",
        "category": "Image",
        "blocks": [
          {
            "type": "subtext",
            "type": "title",
            "type": "description"
          }
        ]
      }
    ]
  }
{% endschema %}