<section id="image-text--{{ section.id }}">
  <div class="images-with-text-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          {% if section.settings.first_image != blank %}
          <div class="first-image">
            {{ section.settings.first_image | image_url | image_tag }}
          </div>
          {% else %}
            {{ 'product-1' | placeholder_svg_tag }}
          {% endif %}
          {% if section.settings.second_image != blank %}
          <div class="second-image">
            {{ section.settings.second_image | image_url | image_tag }}
          </div>
          {% else %}
            {{ 'product-1' | placeholder_svg_tag }}
          {% endif %}
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="content-container">
            {% for block in section.blocks %}
              {% assign iconIndex = 0 %}
              {% case block.type %}
                {% when 'title' %}

                {% when 'subtext' %}

                {% when 'description' %}

                {% when 'icon-text' %}
                {% if iconIndex == 0 %}
                  <div class="row">
                {% endif %}
                <div class="col-lg-6 col-md-6">
                  <div class="row">
                    <div class="col">
                    {% render 'icons', icon: block.settings.icon %}
                    </div>
                    <div class="col">
                      <p class="title">{{ block.settings.title }}</p>
                      <p class="description">{{ block.settings.description }}</p>
                    </div>
                  </div>
                </div>
                {% if iconIndex == 0 %}
                  </div>
                {% endif %}
                {% assign iconIndex = iconIndex | plus: 1 %}
              {% endcase %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Images with text",
    "settings": [
      {
        "type": "image_picker",
        "id": "first_image",
        "label": "First image"
      },
      {
        "type": "image_picker",
        "id": "second_image",
        "label": "Second image"
      }
    ],
    "blocks":[
      {
        "type": "title",
        "name": "Title",
        "settings":[
          {
            "type":"html",
            "id": "title",
            "label": "Heading",
            "default": "Feel the best experience with <span class='text-highlight_1'>HitchExpo.com</span>"
          }
        ]
      },
      {
        "type":"subtext",
        "name": "Subtext",
        "settings":[
          {
            "type":"text",
            "id": "subtext",
            "label": "Subtext",
            "default": "Explore our first class services"
          },
          {
            "type":"color",
            "id": "Sub_clr",
            "label": "Color",
            "default": "#4269F2"
          }
        ]
      },
      {
        "type": "description",
        "name": "Description",
        "settings":[
          {
            "type":"richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>Lorem ipsum dolor sit amet consectetur. Duis in mauris dui ut. Nulla ullamcorper tempus volutpat viverra viverra aenean amet egestas neque.</p>"
          }
        ]
      },
      {
        "type": "icon-text",
        "name": "Icon with text",
        "settings": [
          {
            "type": "select",
            "id": "icon",
            "label": "Select icon",
            "options":[
              {
                "label": "Sheild",
                "value": "sheild"
              },
              {
                "label": "Lock",
                "value": "lock"
              },
              {
                "label": "Star",
                "value": "star"
              },
              {
                "label": "Robot",
                "value": "robot"
              }
            ],
            "default": "sheild"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Variety of Brands"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>Lorem ipsum dolor sit amet consectetur. Eget duis ac commodo viverra risus congue morbi dolor eu.</p>"
          }
        ]
      }
    ],
    "presets":[
      {
        "name": "Images with text section",
        "category": "Image",
        "blocks": [
          {
            "type": "subtext",
            "type": "title",
            "type": "description"
          }
        ]
      }
    ]
  }
{% endschema %}