{% liquid
  assign sid = section.id 
%}
  <section id="laber_{{sid}}" class="{{ section.settings.design }}"> 
    <div class=" {%if section.settings.layout != 'full-width' %}container {%else%} {{section.settings.layout}}{%endif%} text_{{ section.settings.position }}">

      <aside class="laber_mail alo-border-radius" style="--alo-border-radius:10px 10px 0 0;">
        {% if section.settings.title != blank or section.settings.sub_title!= blank %}
  		<div class="wrap_title {{ section.settings.text_size }}">
            {% if section.settings.title != blank %}
  		  <h3 class="section-title">{{section.settings.title}}</h3>  
  		  {% endif %}
  		</div>
        {% endif %}
        {% if section.settings.content!= blank %}
        <div class="content">{{section.settings.content}}</div>
        {% endif %}
          <div class="newsletter">                                   	
            {%- form 'customer', class:'newsletter-form-footer' -%}
            <input type="hidden" name="contact[tags]" value="newsletter">
            <div class="mc4wp-form-fields">
              <div class="signup-newsletter-form  {{class}} alo-border-radius" style="--alo-border-radius:5px;">
                <div class="col pd-0">
                  <div class="i-email">
                    <input type="email" name="contact[email]" placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"  value="{% if customer %}{{ customer.email }}{% endif %}" class="{{class_ip}} input-text" required="required">
                  </div>
                </div>
                 <div class="col-auto pd-0">
                  <button type="submit" class="submit-btn truncate{% if settings.checkbox_mail %} mail_agree pr{% endif %}" aria-label="submit">
                      <span>{{ 'general.newsletter_form.submit' | t }} </span>
                      <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0.998167 6.99379H17.7438L14.6065 10.2754C13.7054 11.218 15.0571 12.6319 15.9582 11.6893L18.8154 8.69597L20.7228 6.69775C21.0924 6.30879 21.0924 5.68059 20.7228 5.29162L15.9582 0.302062C15.777 0.10722 15.5275 -0.00210476 15.2675 0.000156464C14.4094 0.000269525 13.9882 1.09358 14.6065 1.71602L17.7512 4.99765H0.948827C-0.372784 5.06624 -0.274105 7.06261 0.998167 6.99379Z" fill="black"/>
                      </svg>
                  </button>
                </div>
              </div>
            </div>
            {%- if form.posted_successfully? -%}
              <div class="mc4wp-response">  
                <div class="shopify-message"><i class="las la-check"></i>{{ 'general.newsletter_form.confirmation' | t }}</div>
              </div>
            {%- elsif form.errors -%}
              <div class="mc4wp-response"> 
                <div class="shopify-error"><i class="las la-exclamation-triangle"></i>{{ form.errors | default_errors }}</div>
              </div>
            {%- endif -%}
            {%- endform -%}								
          </div>        	
      </aside>
    </div>
</section>
{%style%}

@media (min-width: 1024px){

  #laber_{{sid}} .laber_mail{
    width: {{section.settings.width_c}}%;
  }
  
}
{%endstyle%}
{%- render 'section_style' -%}

{%- schema -%}
  {
    "name": "Newsletter",
    "class": "laber-newsletter",
    "settings": [ 

      {
        "type": "header",
        "content": "== Setting"
      },
	  {  
      "type": "range",  
      "id": "width_c",  
      "label": "Width container",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "default": 100 
      },
      {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Tips & tricks"
      },
	  {
        "type": "textarea",
        "id": "content",
        "label": "Content",
        "default": "Subscribe to the Gosto mailing list to receive updates on new arrivals <br> & other discount information."
      },
      {
        "type": "select",
        "id": "text_size",
        "default": "medium",
        "options": [
          {
            "value": "small",
            "label": "small"
         },
         {
            "value": "medium",
            "label": "Medium"
         },
         {
            "value": "large",
            "label": "Large"
          }
        ],
        "label": "Text size"
      },
      {
        "type": "select",
        "id": "position",
        "options": [
         {
            "value": "left",
            "label": "Left"
         },
         {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "center",
            "label": "Center"
          }
        ],
        "label": "Position"
      },
      {
        "type": "select",
        "id": "layout",
        "options": [
         {
            "value": "container",
            "label": "Container"
         },
         {
            "value": "full-width",
            "label": "Full Width"
          }
        ],
        "label": "Layout"
      },
      {
        "type": "select",
        "id": "design",
        "options": [
         {
            "value": "design-1",
            "label": "Design 1"
         },
         {
            "value": "design-2",
            "label": "Design 2"
          },
          {
            "value": "design-3",
            "label": "Design 3"
          }
        ],
        "label": "Design"
      },
      {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image",			
      "info": "1920px x 400px .jpg recommended"
      },
      {
      "type": "color",
      "id": "cl_bg",
      "label": "Background color",
      "default": "#fff"
      },
      {
        "type": "text",
        "id": "mg",
        "label": "Margin",
        "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
        "default": "30px,,,",
        "placeholder": "30px,,30px,"
      },
      {
        "type": "text",
        "id": "pd",
        "label": "Padding",
        "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
        "placeholder": "30px,,30px,"
      },
     {
        "type": "header",
        "content": "== Design Mobile Options"
      },
      {
        "type": "text",
        "id": "mg_mb",
        "label": "Margin",
        "placeholder": "30px,,30px,"
      },
      {
        "type": "text",
        "id": "pd_mb",
        "label": "Padding",
        "placeholder": "30px,,30px,"
      }  
     
    ],    
    "presets": [
      {
        "name": "Newsletter",
        "category": "Text"
      }
    ]
  }
{% endschema %}
