{%- if section.settings.hide_tabs %}{% break %}{% endif -%}
{% assign sid = section.id  %}
<section id="laber_{{sid}}" class="{% if section.settings.accordion_tabs %}accordion-tabs{% else %}tabs-product{% endif %} alo-border-radius" style="--alo-border-radius:{{ section.settings.bd }}"> 

<div id="tab_product" class="cms-tab">
  <ul class="nav list-nav">
      {%- for block in section.blocks -%}
            {%- case block.type -%}
                {%- when 'tab_description' -%}
                    {%- assign title_description = block.settings.title_description -%}
                    <li class="active"><a class="h3" data-animated="fadeIn" data-toggle="pill" href="#tab_des"><span class="icon {{ block.settings.icon }}"></span><span>{{ title_description }}</span></a></li>
                {%- when 'tab_custom_html' -%}
                    {% assign index = index | plus: 1 %}
                    <li><a class="h3" data-animated="fadeIn" data-toggle="pill" href="#tab{{index}}"><span class="icon {{ block.settings.icon }}"></span><span>{{ block.settings.title }}</span></a></li>
                {%- when 'tab_custom_text' -%}
                    {% assign index = index | plus: 1 %}
                    <li><a class="h3" data-animated="fadeIn" data-toggle="pill" href="#tab{{index}}"><span class="icon {{ block.settings.icon }}"></span><span>{{ block.settings.title }}</span></a></li>
                {%- when 'tab_reviews' -%}
                    {% include 'reviews-count' %}
                    {% assign badgeData = product.metafields.judgeme.badge | json %}
                    {% assign numberOfReviews = badgeData | split: "data-number-of-reviews='" | last | split: "'" | first %}
                    {%- assign title_reviews = block.settings.title_reviews-%}
                    <li><a class="h3" data-animated="rotateInDownLeft" data-toggle="pill" href="#tab_review"><span class="icon {{ block.settings.icon }}"></span><span>{{title_reviews}} ({{ numberOfReviews | times: 1}})</span></a></li>
                {%- when 'show_variants' -%}{% if product.has_only_default_variant %}{% continue %}{% endif -%}
                    <li><a class="h3" data-animated="rotateInDownLeft" data-toggle="pill" href="#tab_variants"><span class="icon {{ block.settings.icon }}"></span><span>{{ block.settings.title }}</span></a></li>
    			{%- when 'tab_metafields' -%}
    		      <li><a class="h3" data-animated="rotateInDownLeft" data-toggle="pill" href="#tab_metafields"><span class="icon {{ block.settings.icon }}"></span><span>{{ block.settings.title }}</span></a></li>
                {% when 'faq' %}
                <li><a class="h3" data-animated="rotateInDownLeft" data-toggle="pill" href="#faq"><span class="icon {{ block.settings.icon }}"></span><span>{{ block.settings.title }}</span></a></li>
            {%- endcase -%}
      {%- endfor -%}


  </ul>	
  
  <div class="tab-content">
  {%- assign custom_tab_index = 1 -%}
  {%- for block in section.blocks -%}
		{%- case block.type -%}
			{%- when 'tab_description' -%}
				<div id="tab_des" class="tab-panel active ">
                 <h3 class="heading-title d-none sm:d-block"><span>{{ block.settings.title_description }}</span> <i class="icon-plus"></i></h3> 
				<div class="description">
				  {{ product.description }}
				</div>
			  </div>
			{%- when 'tab_custom_html' -%}
				
				<div id="tab{{custom_tab_index}}" class="tab-panel">
                <h3 class="heading-title d-none sm:d-block"><span>{{ block.settings.title }}</span> <i class="icon-plus"></i></h3>   
                <div class="description">
                  {%- if block.type == 'tab_custom_html' %}                  	
                  	{%- if block.settings.page_content != blank -%}
                  		{%- assign get_content = pages[block.settings.page_content].content -%}
                  		{{get_content}}
                  	{% endif %}
                  {% else %}
                  	{{block.settings.content}}                  
                  {% endif %}                  
                </div>
              </div>
              {%- assign custom_tab_index = custom_tab_index | plus: 1 -%}
			  
			{%- when 'tab_custom_text' -%}
				<div id="tab{{custom_tab_index}}" class="tab-panel">
                <h3 class="heading-title d-none sm:d-block"><span>{{ block.settings.title }}</span> <i class="icon-plus"></i></h3>   
                <div class="description">
                  {%- if block.type == 'tab_custom_html' %}                  	
                  	{%- if block.settings.page_content != blank -%}
                  		{%- assign get_content = pages[block.settings.page_content].content -%}
                  		{{get_content}}
                  	{% endif %}
                  {% else %}
                  	{{block.settings.content}}                  
                  {% endif %}                  
                </div>
              </div>
              {%- assign custom_tab_index = custom_tab_index | plus: 1 -%}
			  
			{%- when 'tab_reviews' -%}
              {% include 'reviews-count' %}
              {%- assign title_reviews = block.settings.title_reviews-%}
				<div id="tab_review" class="tab-panel">
                  <h3 class="heading-title d-none sm:d-block"><span>{{title_reviews}} ( {{ product_reviews_count }} )</span> <i class="icon-plus"></i></h3>
				  <div class="custom-review description">
					<div class="row">
					  <div id="shopify-product-reviews" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!-- Start of Judge.me code --> 
                          <div style='clear:both'></div> 
                          <div id='judgeme_product_reviews' class='jdgm-widget jdgm-review-widget' data-id='{{ product.id }}'> 
                            {{ product.metafields.judgeme.widget }} 
                          </div> 
                        <!-- End of Judge.me code -->
					  </div>
					</div>
				  </div>
				</div>
    		{%- when 'show_variants' -%}
          {% if product.has_only_default_variant %}{% continue %}{% endif -%}
              <div id="tab_variants" class="tab-panel">
                <h3 class="heading-title d-none sm:d-block"><span>{{ block.settings.title }}</span> <i class="icon-plus"></i></h3>
                <div class="sp-tab-content description">
                  <table class="pr_attrs">
                    <tbody>
                      {%- for product_option in product.options_with_values -%}
                      <tr class="attr_pa_{{product_option.name | handle }}">
                        <th class="attr__label">{{ product_option.name }}</th>
                        <td class="attr__value">
                          {% for value in product_option.values %}{{ value }}{% unless forloop.last == true %}, {% endunless %}{% endfor %}
                        </td>
                      </tr>
                      {%- endfor -%}
                    </tbody>
                  </table>
                </div>
              </div>
    	{%- when 'tab_metafields' -%}
            <div id="tab_metafields" class="tab-panel">      
              <h3 class="heading-title d-none sm:d-block"><span>{{ block.settings.title }}</span> <i class="icon-plus"></i></h3>
              <div class="description">
                {{ block.settings.custom_liquid }}
              </div>
            </div>

      {% when 'faq' %}
          {% assign faqContents = section.blocks | where: "type", "faq-content" %}
            <div id="faq" class="tab-panel">
              <h3 class="heading-title d-none sm:d-block"><span>{{ block.settings.title }}</span> <i class="icon-plus"></i></h3>
              <div class="description faq-section">
              {% assign index = 0 %}

              {% assign metafield_value = product.metafields.custom.product_faq %}
              
              {% if metafield_value == blank or metafield_value == nil %}
                <p>Please check back for the FAQ.</p>
              {% else %}
                {% assign first_char = metafield_value | slice: 0 %}
                
                {% if first_char == "{" or first_char == "[" %}
                  {% assign parsed_metafield = metafield_value | json_parse %}
                  
                  {% for item in parsed_metafield %}
                    {% if item.question and item.answer %}
                      <div id="id_b_{{ index }}" class="item-faq {{ index }}">
                        <div class="js-item-faq item {% if index == 0 %}active{% endif %}">
                            <h3 class="faq-heading-title">
                                <span target="_self" title="{{ item.question | escape }}">{{ item.question }}</span>
                                <span class="faqs-icon">
                                  <i class="icon-plus"></i>
                                </span>
                            </h3>
                            <div class="content-faq">{{ item.answer }}</div>
                        </div>	
                      </div>
                      {% assign index = index | plus: 1 %}
                    {% endif %}
                  {% endfor %}
                {% else %}
                  {% assign lines = metafield_value | newline_to_br | split: "<br />" %}
                  <div class="meta-lines">
                  {% for line in lines %}
                    <p>{{ line }}</p>
                  {% endfor %}
                  </div>
                {% endif %}
                {% endif %}
              </div>
            </div>
		{%- endcase -%}
		
  {%- endfor -%}
  </div>
</div>
</section>
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", () => {
  $(document).on('click', '.tab-panel .heading-title', function (e) {
    $(this).next("div.description").slideToggle("fast");
    var tab = $(this).closest('.tab-panel');
    tab.toggleClass('active');
    $('html, body').animate({
        scrollTop: tab.offset().top - 50
    }, 1000);
  });  
  $(document).on('click', '.faq-heading-title', function(){
    $(this).next("div.description").slideToggle("fast");
    $('.description.faq-section').find('.js-item-faq.item').removeClass('active');
    var tabFaq = $(this).closest('.js-item-faq');
    tabFaq.toggleClass('active');
    $('html, body').animate({
        scrollTop: tabFaq.offset().top - 60
    }, 500);   
  })
}); 
</script>
{%- render 'section_style' -%}
{% schema %}
  {
    "name": "Tab Product page",
	"class": "tab_product_page",	
    "settings": [
        {
          "type": "checkbox",
          "id": "hide_tabs",
          "label": "Hide tabs",
          "default": false
        },
        {
            "type": "paragraph",
            "content": "Click 'Add content' to add CUSTOM TAB"
        },

		{
        "type": "checkbox",
        "id": "accordion_tabs",
        "label": "accordion tabs",
        "default": false
      },
		{
        "type": "header",
        "content": "== Design Options"
      },       
      {
        "type": "color",
        "id": "cl_bg",
        "label": "Background color",
        "default": "#fff"
      },
	  {
        "type": "header",
        "content": "== Margin",
		"info":"Margin top, margin bottom. If you not use to blank"
      },  
	  	        {
        "type": "text",
        "id": "mg",
        "label": "Margin",
        "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank"
      },
      {
        "type": "text",
        "id": "pd",
        "label": "Padding",
        "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank"
      },
      {
      "type": "text",
      "id": "bd",
      "label": "Border",
      "info":"border top border right border bottom border left. If you not use to blank"
      },
     {
        "type": "header",
        "content": "== Design Mobile Options"
      },
      {
        "type": "text",
        "id": "mg_mb",
        "label": "Margin"
      },
      {
        "type": "text",
        "id": "pd_mb",
        "label": "Padding"
      }

      ],
      "blocks": [
		{
          "type": "tab_description",
          "name": "Description",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "title_description",
              "label": "Title",
              "default": "Description"
            },
            {
              "type": "text",
              "id": "icon",
              "label": "Icon",
              "default": "fa fa-circle-info",
              "info": "Use fontawesome icons. i.e: fa fa-info"
            }
          ]
        },
		{
          "type": "show_variants",
          "name": "Additional Information",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Title",
              "default": "Additional Information"
            },
            {
              "type": "text",
              "id": "icon",
              "label": "Icon",
              "default": "fa fa-sliders",
              "info": "Use fontawesome icons. i.e: fa fa-info"
            }
          ]
        },
        {
          "type": "tab_custom_html",
          "name": "Custom HTML tab",
          "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Title",
              "default": "Custom HTML"
            },
            {
              "type": "text",
              "id": "icon",
              "label": "Icon",
              "default": "fa fa-sliders",
              "info": "Use fontawesome icons. i.e: fa fa-info"
            },
            {
              "type": "page",
              "id": "page_content",
              "label": "Page content",
              "info": "Default page: 'Include Product Tab Custom HTML'"
            }
          ]
        },
        {
          "type": "tab_custom_text",
          "name": "Custom text tab",
          "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Title",
              "default": "Custom text"
            },
            {
              "type": "text",
              "id": "icon",
              "label": "Icon",
              "default": "fa fa-sliders",
              "info": "Use fontawesome icons. i.e: fa fa-info"
            },
            {
              "type": "richtext",
              "id": "content",
              "label": "HTML content",
              "default": "<p>Text content of Tab goes here!</p><p>You can make&nbsp;text <strong>bold</strong>, <em>italic</em> or add <a href=\"\/blogs\/news\" title=\"News\">link</a> using rich text editor.</p><p></p>"
            }
          ]
        },
		{
          "type": "tab_reviews",
          "name": "Reviews",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "title_reviews",
              "label": "Title",
              "default": "Reviews"
            },
            {
              "type": "text",
              "id": "icon",
              "label": "Icon",
              "default": "fa fa-sliders",
              "info": "Use fontawesome icons. i.e: fa fa-info"
            }
          ]
        },
		{
          "type": "tab_metafields",
          "name": "Metafields tabs",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Title",
              "default": "Additional Information"
            },
            {
              "type": "text",
              "id": "icon",
              "label": "Icon",
              "default": "fa fa-sliders",
              "info": "Use fontawesome icons. i.e: fa fa-info"
            },
            {
              "type": "liquid",
              "id": "custom_liquid",
              "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
              "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info",
              "default":"{{product.metafields.custom.additional_information}}"
            }
          ]
        },
        {
          "type": "faq",
          "name": "FAQ Tab",
          "limit": 1,
          "settings":[
            {
              "type": "paragraph",
              "content": "FAQ data will fetch from metafield data."
            },
            {
              "type": "text",
              "id": "title",
              "label": "Title",
              "default": "FAQs"
            },
            {
              "type": "text",
              "id": "icon",
              "label": "Icon",
              "default": "icon-message",
              "info": "Use fontawesome icons. i.e: fa fa-info"
            }
          ]
        }		
      ],
	  "default": {
        "blocks": [
            { "type": "tab_description" },
            { "type": "tab_custom_html" },
            { "type": "tab_custom_text" },
            { "type": "tab_reviews" }
        ]
      }

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
