{% style %}
#laber_{{ section.id }}{
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
}
.recent-card-item .c-product {
  border: 1px solid #cccccc;
  border-radius: 12px;
  padding: 16px;
  position: relative;
}
{% endstyle %}
<section id="laber_{{ section.id }}">
  <div class="container">
    <div class="wrap_title large d-none">
        <h3 class="section-title alo-text-transform" style="--alo-text-transform:none">
          {{ section.settings.title }}
        </h3>
      </div>
    <div id="product-grid" class="js-recentPdpBlock product-grid row"></div>
  </div>
</section>
<script>
  // Third Block
  function getRecentPdp (){
      let sectionTitle = document.querySelector('#laber_{{ section.id }} .wrap_title');
      const pdpData = JSON.parse(localStorage.getItem('recently_viewed')).reverse();
      if(pdpData.length > 0){
        sectionTitle.classList.remove('d-none');
      }
      const recentViewHtml = []
      pdpData.forEach(function(item,index){ 
        if(item == 4){
           return true;
        }
          recentViewHtml.push(`
              <div id="Recent-${index}" class="col-lg-3 col-md-3 col-sm-6 col-xs-12 recent-card-item grid__item product-item laber-product-item-default">
                <div class="c-product">
                    <div class="inner">
                      <div class="${item.salePercent ? 'product-image__overlay-top-left':'d-none'}">
                        <div class="label label--sale" data-js-product-label-sale="">${item.salePercent ? '-'+item.salePercent+'%':''}</div>
                      </div>
                    </div>
                    <div class="c-product__img">
                    <a href="${item.productUrl}"><img src='${item.productImg}'/></a>
                    </div>
                    <div class="product-collection__content product-grid-style style_left">
                    <div class="product-collection__title">
                      <h2 class="c-product__title">
                          <a class="c-product__url" href="${item.productUrl}">
                          ${item.productTitle}
                          </a>
                      </h2>
                    </div>
                    <div class="frm-price-color">
                      <div class="product-collection__price ">
                        <span class="price price--sale" data-js-product-price="">
                            <span class="current">${item.productPrice}</span>
                            <span class="compare">${item.productCompPrice ? item.productCompPrice: ''}</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          `);
      })
      const recentBlock = `${recentViewHtml.join('')}`
      const contentBlock = document.querySelectorAll('.js-recentPdpBlock');
      contentBlock.forEach(element =>{
          element.innerHTML = recentBlock;
      })
     
  }
  // Execute this function on DOM content load 

  getRecentPdp();
</script>

{% schema %}
  {
    "name": "Recently viewed",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section title",
        "default": "Recently viewed"
      },
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "default": 30
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "default": 30
      }
    ],
    "presets":[
      {
        "name": "Recently viewed",
        "category": "Products"
      }
    ]
  }
{% endschema %}