<div id="ymm-{{ section.id }}">
    <div class="product-visibility-terms-container">
        <div class="vehicle-selection">
            <strong>{{ section.settings.title }}</strong>
            <span class="vehicle-vendor">{{ section.settings.vehicle_type }}</span>
            <a href="{{ section.settings.url | default: "#" }}" class="link">{{ section.settings.url_label }}</a>
            <span class="icon icon-search"></span>
        </div>
    </div>
</div>
{% schema %}
{
    "name": "Vehicle selection",
    "class": "ymm-vehicle-selection",
    "settings":[
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Choose Vehicle"
        },
        {
            "type": "liquid",
            "id": "vehicle_type",
            "label": "Vehicle type",
            "default": "{{ product.vendor }}"
        },
        {
            "type": "text",
            "id": "url_label",
            "label": "Url label",
            "default": "Change vehicle"
        },
        {
            "type": "url",
            "id": "url",
            "label": "Url"
        }
    ],
    "presets":[
        {
            "name": "Vehicle selection",
            "category": "Products"
        }
    ]
}
{% endschema %}