{% unless section.settings.hide_section %}
<div class="product-page-custom-search-app">
  <div id="ymm-{{ section.id }}">
      <div class="product-visibility-terms-container">
          <div class="vehicle-selection">
              <strong>{{ section.settings.title }}</strong>
              <span class="vehicle-vendor">              
                <span id="contentResult">{{ section.settings.vehicle_type }}</span>
                  <span class="cancel" onclick="showSearchBar(this)">
                      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10.4688 1.53125L1.53125 10.4688M1.53125 1.53125L10.4688 10.4688" stroke="#333333" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                  </span>
              </span>
              <span onclick="showSearchBar(this)" class="link">{{ section.settings.url_label }}</span>
              <span class="icon icon-search"></span>
          </div>
      </div>
  </div>
  <div id="ymm-search-area">
      {% for block in section.blocks %}
          {% if block.type == '@app' %}
              {% render block %}
          {% endif %}
      {% endfor %}
  </div>
</div>
{% if template.name contains 'product' %}
{% style %}
.product-page-custom-search-app {
    position: relative;
    height: 150px;
    width: 100%;
}

#ymm-search-area {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
}
@media(max-width:1199px){
  #ymm_searchbox ul li:nth-child(n+3) + li.ymm_bttns {
    width: auto;
  }
}
@media(max-width:989px){
  #ymm_searchbox.horizontal ul li:not(.ymm_bttns) {
    width: 25%;
}
}
@media(max-width:600px){
  .product-page-custom-search-app {
    height: 320px;
  }
  #ymm_searchbox {
    margin-top: 10px;
  }
}
{% endstyle %}
{% endif %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    // Get the query parameters from the URL
    var queryString = window.location.search.substring(1);
    var queryParams = {};
    queryString.split("&").forEach(function(part) {
        var item = part.split("=");
        queryParams[item[0]] = decodeURIComponent(item[1]);
    });
    var rqValue = queryParams['rq'] || '';
    var queryResult = generateResult(rqValue);
    var contentElement = document.getElementById('contentResult');
    if(queryResult == 'showSearchBox'){
      document.querySelector('.vehicle-selection').classList.add('d-none');
      document.getElementById('ymm-search-area').classList.remove('d-none');
    }else{
      contentElement.textContent = queryResult;
      document.getElementById('ymm-search-area').classList.add('d-none');
      document.querySelector('.vehicle-selection').classList.remove('d-none');
    }
  });

  function generateResult(rqValue) {
      if (!rqValue) {
          return "showSearchBox";
      } else {
          var result = rqValue.replace('rq=', '').replace('yr_', '').replace('mk_', '').replace('md_', '').replace(/~/g, ' ');
          return result;
      }
  }
    </script>
{% endunless %}
{% style %}
.product-visibility-terms-container {
    margin-bottom: 15px;
}

{% if template.name contains 'product' %}
  @media(max-width:600px){
    .ymm_app .select2-container .select2-dropdown{
      top: -50px;
    }
  }
{% endif %}
{% endstyle %}
{% schema %}
{
    "name": "Vehicle selection",
    "class": "ymm-vehicle-selection-area",
    "max_blocks": 1,
    "settings":[
        {
          "type": "checkbox",
          "id": "hide_section",
          "label": "Hide section",
          "default": false
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Choose Vehicle"
        },
        {
            "type": "liquid",
            "id": "vehicle_type",
            "label": "Vehicle type",
            "default": "{{ product.vendor }}"
        },
        {
            "type": "text",
            "id": "url_label",
            "label": "Url label",
            "default": "Change vehicle"
        },
        {
            "type": "url",
            "id": "url",
            "label": "Url"
        }
    ],
    "blocks":[
        {
            "type": "@app"
        }
    ],
    "presets":[
        {
            "name": "Vehicle selection",
            "category": "Products"
        }
    ]
}
{% endschema %}