
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
{%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
  {{ 'base.css' | asset_url | stylesheet_tag }} 
  {{ 'component-facets.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'main-search.js' | asset_url }}" defer="defer"></script>
{%- liquid
  assign arr_terms = search.terms |split:'product_type:'
  assign search_terms = arr_terms[0] | strip 
  assign search_terms_filter = search_terms |split:'*'
  assign search_terms = search_terms_filter[0] | strip 
  assign product_type = arr_terms[1] | strip
-%}
{% assign sett_equal = settings.use_eq_height %}
{% assign image_ratio = settings.image_ratio %}
{% assign sid = section.id  %}
{% assign grid_list = section.settings.grid_list |plus:0 %}  
{% liquid
	if grid_list == 2 
    	assign class_style = "grid-2-style" 
    elsif grid_list == 3    
    	assign class_style = "grid-3-style"
    elsif grid_list == 4  
    	assign class_style = "grid-4-style"   
    elsif grid_list == 5   
    	assign class_style = "grid-5-style"
    elsif grid_list == 1  
    	assign class_style = "list-style" 
    endif    
%} 
{% style %}
#laber_{{sid}} .template-search{
  background: {{ section.settings.cl_bg }};
}
  .ymm-grid .grid__item {
    padding: 0 8px;
}
.ymm-grid .ymm-product-item {
    background: #ffffff;
    padding: 5px;
  border-radius: 5px;
}
.search-result-ctm .grid-view-item__title a {
    color: #000000;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
{% endstyle %}
<section id="laber_{{sid}}">
<div class="template-search section-{{ section.id }}-padding">
  <div class="main-container shop-page">
    <div class=" main-content-grid js_container_cat "> 
    <div class="js_categories_content">
      <div class="container wrap-main-collection">
        <div class="row">
          <div class="mobile-content col">
          <div{% if section.settings.filter_type == 'vertical' %} class="facets-vertical page-width"{% endif %}>
            <div class="product-grid-container js_products_arrivals products-arrivals {{ class_style }}" id="ProductGridContainer">
              <!-- Start YMM short code -->
              {%- capture the_snippet_content -%} 
              	{% render 'ymm-searchbox' %}{%- endcapture -%}
              	{% unless the_snippet_content contains "Liquid error" %}
              		{%- assign searchbox_style = "horizontal" -%}<!-- eg. horizontal or vertical -->
              		{%- assign searchbox_title = "Search By Year, Make and Model" -%}
              		{% render 'ymm-searchbox', searchbox_style: searchbox_style, searchbox_title: searchbox_title %}
                {% endunless %}	
              <!-- Ended YMM short code --> 
              
              {%- assign is_sidebar = true -%}
              
              <div class="page-width container{% if is_sidebar == true %} ymm-result-page{% endif %}">
              
              <div class="ymm-grid">
                  <div class="page-ymm-custom">
                    <div class="section-header text-center">
                      <h1 id="title" class="ymm_pg_title"></h1>
                      <h4><span id="total_products"></span></h4>
                    </div>
                    <div class="ymm_content">
                      <div class="row">
                        <div class="col-lg-3 col-md-3 hide-mobile">
                          {% if is_sidebar == true %}
                          <div class="sidebar">
                            <div class="facets-container">
                              <div class="facets-vertical">
                                <facet-filters-form>
                                <form id="FacetFiltersForm" class="facets__form-vertical">
                                <details id="Details-1-template--21734502990117__product-grid" class=" facets__disclosure-vertical js-filter" data-index="1" open="">
                                  <summary class="facets__summary caption-large focus-offset" aria-label="Brand (0 selected)" role="button" aria-expanded="true" aria-controls="Facet-1-template--21734502990117__product-grid">
                                    <div>
                                      <span>Accessories Type<span class="facets__selected no-js-hidden hidden">(0)</span></span>
                                      <i class="icon-plus icon-caret"></i>
                                    </div>
                                  </summary>
                                  <div id="Facet-1-template--21734502990117__product-grid" class="parent-display facets__display-vertical">
                                    <fieldset class="facets-wrap parent-wrap  facets-wrap-vertical">
                                      <legend class="visually-hidden">Accessories Type</legend>
                                      <ul class=" list-unstyled no-js-hidden" role="list">
                                        {% for type in shop.types limit: 20 %}
                                        <li class="list-menu__item facets__item{% if forloop.index > 10 %} show-more-item hidden{% endif %}">
                                          <label for="Filter-type-{{ forloop.index }}" class="facet-checkbox">
                                            <input type="checkbox" name="filter.p.type" value="{{ type }}" id="Filter-type-{{ forloop.index }}" onchange="window.location.href='/search?type=product&q={{ type | handleize }}'">
                  
                                            <span class="square"></span>
                                            <i class="icon-check icon-checkmark"></i>
                                            <span aria-hidden="true"><a href="/search?type=product&q={{ type | handle }}">{{ type | truncate:30 }}</a></span>
                                            <span class="visually-hidden">{{ type | escape }}</span>                          
                                          </label>
                                        </li>
                                        {% endfor %}
                                        </ul>
                                    </fieldset>
                                    {% if shop.types.size > 10 %}
                                    <show-more-button>
                                      <button class="button-show-more link underlined-link no-js-hidden" id="Show-More-1-{{ section.id }}" type="button">
                                        <span class="label-show-more label-text"
                                          ><span aria-hidden="true">+ </span>{{ 'products.facets.show_more' | t -}}
                                        </span>
                                        <span class="label-show-less label-text hidden"
                                          ><span aria-hidden="true">- </span>{{ 'products.facets.show_less' | t -}}
                                        </span>
                                      </button>
                                    </show-more-button>
                                    {% endif %}
                                  </div>
                                </details>
                                <details id="Details-2-{{ section.id }}__product-grid" class=" facets__disclosure-vertical js-filter" data-index="2" open="">
                                  <summary class="facets__summary caption-large focus-offset" aria-label="Brand (0 selected)" role="button" aria-expanded="true" aria-controls="Facet-1-template--21734502990117__product-grid">
                                    <div>
                                      <span>Brands<span class="facets__selected no-js-hidden hidden">(0)</span></span>
                                      <i class="icon-plus icon-caret"></i>
                                    </div>
                                  </summary>
                                  <div id="Facet-2-{{ section.id }}__product-grid" class="parent-display facets__display-vertical">
                                    <fieldset class="facets-wrap parent-wrap  facets-wrap-vertical">
                                      <legend class="visually-hidden">Brand</legend>
                                      <ul class=" list-unstyled no-js-hidden" role="list">
                                        {% for vendor in shop.vendors limit: 20 %}
                                        <li class="list-menu__item facets__item{% if forloop.index > 10 %} show-more-item hidden{% endif %}">
                                          <label for="Filter-Vendor-{{ forloop.index }}" class="facet-checkbox">
                                            <input type="checkbox" name="filter.p.vendor" value="{{ vendor }}" id="Filter-Vendor-{{ forloop.index }}" onchange="window.location.href='/collections/vendors?q={{ vendor }}'">
                  
                                            <span class="square"></span>
                                            <i class="icon-check icon-checkmark"></i>
                                            <span aria-hidden="true">{{ vendor | link_to_vendor }}</span>
                                            <span class="visually-hidden">{{ vendor | escape }}</span>                          
                                          </label>
                                        </li>
                                        {% endfor %}
                                        </ul>
                                    </fieldset>
                                    {% if shop.vendors.size > 10 %}
                                    <show-more-button>
                                      <button class="button-show-more link underlined-link no-js-hidden" id="Show-More-2-{{ section.id }}" type="button">
                                        <span class="label-show-more label-text"><span aria-hidden="true">+ </span>{{ 'products.facets.show_more' | t -}}
                                        </span>
                                        <span class="label-show-less label-text hidden"><span aria-hidden="true">- </span>{{ 'products.facets.show_less' | t -}}
                                        </span>
                                      </button>
                                    </show-more-button>
                                    {% endif %}
                                  </div>
                                </details>
                              </form>
                            </facet-filters-form>
                              </div>
                            </div>
                            <script>
                              $(document).ready(function() {
                                $(document).on('click', 'show-more-button', function() {
                                  let showMoreBtn = $(this).find('.label-show-more').hasClass('hidden');
                                  if(!showMoreBtn){
                                    $(this).parent().find('li.facets__item').removeClass('hidden');
                                    $(this).find('.label-show-more').addClass('hidden')
                                    $(this).find('.label-show-less').removeClass('hidden')
                                  }else{
                                    $(this).parent().find('li.show-more-item').addClass('hidden');
                                    $(this).find('.label-show-less').addClass('hidden')
                                    $(this).find('.label-show-more').removeClass('hidden')
                                  }                   
                                  
                                });
                              });
                            </script>
                          </div>
                          {% endif %}
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12">
                        	{%- comment -%} DO NOT EDIT BELOW LINES [ PRODUCTS ARE WRITTEN IN THIS PART DYNAMICALLY ] {%- endcomment -%}
                        	<div id="product_container" class="clearfix">
                              <div class="ymm-prd-loader" style="display: none;"></div>
                              <div id="products" class="grid search-result-ctm"></div>
                            {% comment %} Custom coded start {% endcomment %}
                              <div class="on-empty-search" style="display:none;">
                                {% if section.blocks.size > 0 %}
                                  <div class="categories-content-main">
                                    <div class="row">
                                      {% for block in section.blocks %}
                                      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                        <div class="category-card center">
                                          {% if block.settings.image != blank %}
                                          <div class="card-image">
                                            <a href="{{ block.settings.url }}">
                                              <img src="{{ block.settings.image | image_url: width: 100 }}" alt="{{ block.settings.title }}" style="background-color: {{ block.settings.bg_color }}">
                                            </a>
                                          </div>
                                          {% endif %}
                                          <div class="category-footer">
                                            <a href="{{ block.settings.url }}" class="title">{{ block.settings.title }}</a>
                                          </div>
                                        </div>
                                      </div>
                                      {% endfor %}
                                    </div>
                                  </div>
                                  {% endif %}
                              </div>
                              {% if section.settings.enable_related_search %}
                              <div class="related-search">
                                <div class="section-title related-s-terms">
                                  <h2>Related search</h2>
                                </div>
                                <div class="related-terms">
                                  <div id="shuffled-collections-container">
                                    {% for collection in collections %}
                                      <a href="{{ collection.url }}" class="related-search-btn" style="display: none;">
                                        <span class="icon icon-search"></span>
                                        <span class="terms-title">{{ collection.title }}</span>
                                      </a>
                                    {% endfor %}
                                  </div>
                                </div>
                              </div>
                              {% endif %}
                              {% comment %} Custom coded end {% endcomment %}
                              <div class="clearfix paging-outr"><ul class="pagination" id="paginate"></ul></div>
                        	</div>
                        	{%- comment -%} ENDS HERE {%- endcomment -%}
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            </div>
        </div>
        </div>
      </div>
{% render 'grid-style', settings:section.settings %}
{%- render 'section_style' -%}
{{ 'ymm-custom-style.css' | asset_url | stylesheet_tag }}
<script>
  function checkDivContent() {
    let categories = document.querySelector(".on-empty-search");
    let productCon = document.querySelector("#product_container #products");
    if (productCon.innerHTML.trim() !== '') {
      console.log('The div contains content.');
    } else {
      categories.style.display = 'block'
    }
  }
  
  // Check when the window has finished loading
  window.addEventListener('load', function() {
    console.log('Window loaded');
    setTimeout(function() {
      console.log('Its called!');
      checkDivContent();
    }, 2000);
  });

</script>
{% if section.settings.enable_related_search %}
<script>
  function relatedSearch (){
    var container = document.getElementById('#shuffled-collections-container');
    var collectionLinks = container.querySelectorAll('.related-search-btn');

    // Convert the NodeList to an array for easier manipulation
    var shuffledCollectionLinks = Array.from(collectionLinks);

    // Shuffle the array
    for (var i = shuffledCollectionLinks.length - 1; i > 0; i--) {
      var j = Math.floor(Math.random() * (i + 1));
      var temp = shuffledCollectionLinks[i];
      shuffledCollectionLinks[i] = shuffledCollectionLinks[j];
      shuffledCollectionLinks[j] = temp;
    }

    // Display only the first 5 elements
    for (var i = 0; i < 5; i++) {
      shuffledCollectionLinks[i].style.display = 'block'; // or 'block' depending on your styling
      container.appendChild(shuffledCollectionLinks[i]);
    }
  }
   window.addEventListener('load', function() {
     console.log('Related search');
    relatedSearch();
  });
</script>
{% endif %}
{% schema %}
  {
    "name": "Product search",
    "class": "product_section",
    "settings": [ 
      {
        "type": "range",
        "id": "pagination_limit",
        "min": 1,
        "max": 48,
        "step": 1,
        "unit": "pds",
        "label": "Max number products",
        "info": "The number of products I have on a page",
        "default": 18
      },
      {
        "type": "select",
        "id": "grid_list",
        "default": "1",
        "options": [
          {
            "value": "2",
            "label": "Grid Two Column"
          },
          {
            "value": "3",
            "label": "Grid Three Column"
          },
          {
            "value": "4",
            "label": "Grid Four Column"
          },
          {
            "value": "5",
            "label": "Grid Five Column"
          },
          {
            "value": "1",
            "label": "List View"
          }
        ],
        "label": "Default Grid or List"
      },
        {
        "type": "header",
        "content": "---- Grid Show Collection ----"
    },    
    {  
        "type": "range",  
        "id": "visible",  
        "label": "Columns in Visible",
        "info": "Item(s) in screen ( Size >= 1920 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "col",
        "default": 5 
    },
    {  
        "type": "range",  
        "id": "widescreen",  
        "label": "Columns in Widescreen",
        "info": "Item(s) in screen ( 1366 <= Size < 1920 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "col",
        "default": 4 
    },  
    {  
        "type": "range",  
        "id": "desktop",  
        "label": "Columns in Desktop",
        "info":  "Item(s) in screen ( 1200 <= Size < 1480 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "col",
        "default": 4  
    },    
    {  
        "type": "range",  
        "id": "laptop",  
        "label": "Columns in Laptop",
        "info": "Item(s) in screen ( 992 <= Size < 1200 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "col",
        "default": 4
    },    
    {  
        "type": "range",  
        "id": "notebook",  
        "label": "Columns in Notebook",
        "info": "Item(s) in screen ( 768 <= Size < 992 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "col",
        "default": 3  
    },  
    {  
        "type": "range",  
        "id": "tablet",  
        "label": "Columns in Tablet",
        "info": "Item(s) in screen ( 576 <= Size < 768 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "col",
        "default": 3 
    },
    {  
        "type": "range",  
        "id": "landscape",  
        "label": "Columns in Landscape",
        "info": "Item(s) in screen ( 480 <= Size < 576 )",
        "min": 1,
        "max": 6,
        "step": 1,
        "unit": "col",
        "default": 2 
    }, 
    {  
        "type": "range",  
        "id": "portrait",  
        "label": "Columns in Portrait",
        "info": "Item(s) in screen ( 360 < Size < 480 )",
        "min": 1,
        "max": 6,
        "step": 1,
        "unit": "col",
        "default": 2 
    },
    {  
        "type": "range",  
        "id": "mobile",  
        "label": "Columns in Mobile",
        "info": "Item(s) in screen ( Size < = 360 )",
        "min": 1,
        "max": 4,
        "step": 1,
        "unit": "col",
        "default": 1 
    },
    {
      "type": "select",
      "id": "card_style",
      "label": "Card style",
      "options":[
        {
          "value": "style_1",
          "label": "Style 1"
        },
        {
          "value": "style_2",
          "label": "Style 2"
        }
      ],
      "default": "style_2"
    },
    {
        "type": "number",
        "id": "padding_lr",
        "label": "Padding left & right",
        "default": 10
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "checkbox",
      "id": "enable_related_search",
      "label": "Enable related search",
      "default": false
    },
    {
    "type": "header",
    "content": "== Setting PC"
    },
    {
    "type": "color",
    "id": "cl_bg",
    "label": "Background color",
    "default": "#fff"
    }, 
    {
    "type": "text",
    "id": "mg",
    "label": "Margin",
    "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank"
    },
    {
    "type": "text",
    "id": "pd",
    "label": "Padding",
    "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank"
    },
    {
    "type": "header",
    "content": "== Design Mobile Options"
    },
    {
    "type": "text",
    "id": "mg_mb",
    "label": "Margin"
    },
    {
    "type": "text",
    "id": "pd_mb",
    "label": "Padding"
    }
  ],
  "blocks": [
    {
      "type": "category",
      "name": "Category",
      "settings": [
        {
          "type": "paragraph",
          "content": "This item will appear when search result is empty!"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Category name"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background color",
          "default": "#CED9FF"
        }
      ]
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}